---
permalink: /concepts.md
eleventyExcludeFromCollections: true
---
{% for item in collections.all %}{% if item.inputPath == "./src/concepts/index.md" %}
# {{ item.data.title }}

{{ item.data.thesis }}

{% for line in item.data.thesis_continued %}{{ line.text | default(line) }}
{% endfor %}

{% for territory in item.data.territories %}
## {{ territory.name }}

{% for concept in territory.concepts %}
### {{ concept.term }}

*{{ concept.oneliner }}*
{% for c in collections.concepts %}{% if c.term == concept.term %}

> {{ c.definition }}

Source: [{{ c.title }}]({{ site.url }}{{ c.url }}#{{ c.anchor }})
{% endif %}{% endfor %}{% if concept.essay %}
Essay: {{ site.url }}{{ concept.essay }}
{% endif %}

{% endfor %}
{% if territory.questions %}
**Questions this territory opens:**

{% for q in territory.questions %}- {{ q }}
{% endfor %}{% endif %}
{% endfor %}{% endif %}{% endfor %}
