---
pagination:
  data: collections.talks
  size: 1
  alias: talk
permalink: /talks/{{ talk.fileSlug }}.md
eleventyExcludeFromCollections: true
---
# {{ talk.data.title }}

{% if talk.data.event %}**Event**: {{ talk.data.event }}
{% endif %}**Date**: {{ talk.date | readableDate }}
{% if talk.data.speakers %}**Speakers**: {{ talk.data.speakers | join(", ") }}
{% endif %}{% if talk.data.youtube %}**Video**: https://www.youtube.com/watch?v={{ talk.data.youtube }}
{% endif %}{% if talk.data.keywords %}**Keywords**: {{ talk.data.keywords | join(", ") }}
{% endif %}

---

{{ talk.template.frontMatter.content }}
