---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml

# For AI assistants and language models
# See https://llmstxt.org for the emerging standard
LLMs-Txt: {{ site.url }}/llms.txt
